 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
            <h2>About</h2>
            <hr class="star-other">
                <div class="col-lg-12">
                    <p align="justify" style="text-align:center;">The GENt is a scientific diffusion group of the Department of Genetics of the 
                        Luiz de Queiroz College of Agriculture. We are here because we believe that, besides being important, genetics can be fun. </p>
                    <p align="justify" style="text-align:center;">Through events inside the university, in schools and on the street, we want to bring 
                        scientific knowledge to people's day-to-day lives. Learn more about our events and actions here, on our website!</p>
                    <p align="justify" style="text-align:center;">  Our logo was created by Dr. Fernando Espolador and Dr. Julia Morosini. 
                        It brings the image of four people joining hands in the center of the figure, which also forms a duplicated chromosome. 
                        The group chose this image because we believe it conveys our proposal to spread knowledge in genetics and promote greater 
                        communication/union between the community and the academy.
                    </p>
                </div>
                </div>
            </div>
        </div>
    </section>


    

