<!-- Participe Section -->
<header>
  <section class="success" id="conheca_gent">
    <div class="lesstop">
      <div class="row">
	<div class="text-center">
          <h2>Members</h2>
          <hr class="star-other">

	<br>
	<br>

        <div class="col-lg-4 col-lg-offset-2">
          <img src="img/participantes/Heloisa.jpg" class="img-responsive img-circle" alt=""  width="250" height="250">

          <p align="justify" style="text-align:center;">
            Heloísa Defant is an agronomist and MSc student in Genetics and Plant Breeding (ESALQ/USP). Her research is related to 
            the genetics of microorganisms and the understanding of the relationships between beneficial microorganisms and plants. 
            She enjoys reading and collecting books, watching movies and series, playing puzzles, and learning to play new musical instruments.
          </p>
        </div>

        <div class="col-lg-4">
          <img src="img/participantes/Maria_Leticia.jpeg" class="img-responsive img-circle" alt=""  width="250" height="250" >
          <p align="justify" style="text-align:center;">
            Maria Letícia is a biologist from the University of Campinas (Unicamp), has a master and a PhD's degree in Genetics and Plant Breeding 
            from ESALQ/USP (University of São Paulo), and is also a specialist in Scientific Journalism from Unicamp. She is interested in 
            how microorganisms interact with the world, and also likes to talk about how scientists communicate. She is curious, loves traveling, 
            and having megalomaniac project ideas that will never come true.
          </p>
        </div>

        <div class="col-lg-4 col-lg-offset-2">
          <br>
          <br>
          <img src="img/participantes/Fernando.jpg" class="img-responsive img-circle" alt=""  width="280" height="280">
          <p align="justify" style="text-align:center;">
            Fernando holds a Bachelor in Biotechnology from the Federal University of São Carlos, a master's and a PhD in Genetics and Plant 
            Breeding from ESALQ/USP (University of São Paulo). His Bioinformatics research focuses on studying gene expression in polyploid plants.  
            Outside the laboratory, enjoys being in contact with nature and cultivating carnivorous plants.
          </p>
        </div>

        <div class="col-lg-4">
          <br>
          <img src="img/participantes/Ana_Letycia.jpg" class="img-responsive img-circle" alt=""  width="280" height="280" >
          <p align="justify" style="text-align:center;">
            Ana Letycia is an agronomist and holds a Master's degree in Genetics and Plant Breeding from UFG (Federal University of Goiás). 
            Currently, she is a PhD candidate in Genetics and Plant Breeding at ESALQ/USP (University of São Paulo). 
            Her main research interests are the study of transcriptomes and the analysis of next-generation sequencing (NGS) data of crops to 
            generate knowledge and collaborate with breeding programs. She is passionate about waterfalls, loves travelling, talking to animals, 
            and writing poetry.
          </p>
        </div>

        <div class="col-lg-4 col-lg-offset-2">
          <br>
          <br>
          <img src="img/participantes/Guilherme.png" class="img-responsive img-circle" alt=""  width="250" height="250">
          <p align="justify" style="text-align:center;">
            Guilherme holds a bachelor in Agronomic Engineering and pursues a Master’s degree in Genetics and Plant Breeding at ESALQ/USP. 
            His research is related to sugarcane gene expression. Outside (and inside) the lab, he loves programming and hopes to one day develop a game. 
            On the Internet, he consumes D&D and speedrunning content, as well as stats jokes.
            <br>
          </p>
        </div>

        <div class="col-lg-4">
          <br>
          <img src="img/participantes/Maressa.jpg" class="img-responsive img-circle" alt=""  width="280" height="280" >
          <p align="justify" style="text-align:center;">
            Maressa is a biotechnologist from the University of São Carlos, has a master’s degree in Immunology from the University of 
            São Paulo and is a PhD candidate in Molecular Biology at ESALQ/USP. 
            Her research focuses on interactions between host-insect-pathogen. She loves animals, traveling and trying typical foods.
            <br>
            <br>
            <br>
          </p>
        </div>

        <div class="col-lg-4 col-lg-offset-2">
          <br>
          <img src="img/participantes/Cristiane.png" class="img-responsive img-circle" alt=""  width="250" height="250">
          <p align="justify" style="text-align:center;">
            Cristiane holds a bachelor's degree in biotechnology from UFSCar (Federal University of São Carlos), master's  and 
            PhD in Genetics and Plant Breeding from ESALQ/USP (University of São Paulo). Her research involves statistical 
            genetics and bioinformatics. In addition to science, Cristiane is also passionate about circus arts and can be found hanging 
            on trees with her aerial tissue on weekends (when there was no pandemic).
          </p>
        </div>


        <div class="col-lg-4">
          <br>
          <img src="img/participantes/Guilherme_Hosaka.jpeg" class="img-responsive img-circle" alt=""  width="280" height="280" >
          <p align="justify" style="text-align:center;">
            Guilherme Hosaka is a biologist from Universidade Estadual Paulista (UNESP), has master degree in Plant Physiology and Biochemistry, 
            and PhD's degree in Bioenergy from ESALQ/USP (University of São Paulo). His research in bioinformatics is mainly focused on the study 
            of sugarcane transcriptomes. Outside the lab, he enjoys watching TV series, traveling, and making memes.
            <br>
            <br>

          </p>
        </div>

      </div>
</div>
</header>
